<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
<xacro:arg name="prefix" default="arm" />
  <gazebo>
    <plugin name="gz::sim::systems::OdometryPublisher" filename="gz-sim-odometry-publisher-system">
      <odom_publish_frequency>10</odom_publish_frequency>
      <odom_frame>odom</odom_frame>
      <robot_base_frame>$(arg prefix)_link</robot_base_frame>
      <odom_topic>odom</odom_topic>
      <odom_covariance_topic>odom_cov</odom_covariance_topic>
      <dimensions>3</dimensions>
      <tf_topic>/pose_tf</tf_topic>
    </plugin>
  </gazebo>
</robot>