<?xml version="1.0" encoding="utf-8" ?>
<!-- Generated using onshape-to-robot and modified to include CKCs and ball joints by Anthony Lew -->
<!-- Collisions added using openscad (see .scad files)-->
<!-- Note: Exporting from onshape has _continuous at the end of continuous joint names these have been removed post-export -->
<robot name="Banksia"  xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- Loading args -->
    <xacro:arg name="gazebo" default="false"/>
    <xacro:arg name="use_mock_hardware" default="false"/>
    <xacro:arg name="arm" default="false"/>
    <xacro:arg name="old_arm" default="false"/>
    <xacro:arg name="auto_camera" default="true"/>
    <xacro:arg name="robot_name" default="Banksia"/>
    <xacro:arg name="oak_angle" default="15"/>
    <xacro:arg name="bootie_angle" default="15"/>
    <xacro:arg name="lidar_angle" default="40"/>
    <xacro:arg name="rover_description_dir" default="$(find rover_description)" />

    <!-- Needed to prevent arm control from launching hardware interfaces for the wheels/pivots -->
    <xacro:arg name="drive_control" default="true"/>
    <xacro:arg name="arm_control" default="false"/>

    <!-- Robot properties-->
    <gazebo>
        <self_collide>false</self_collide>
    </gazebo>

    <!-- Variables -->
    <xacro:property name="oak_angle" value="$(arg oak_angle)" />
    <xacro:property name="bootie_angle" value="$(arg bootie_angle)" />
    <xacro:property name="lidar_angle" value="$(arg lidar_angle)" />


    <link name="base_link" />
    <joint name="base_link_to_chassis" type="fixed">
        <parent link="base_link" />
        <child link="chassis" />
        <origin rpy="0.0 0 0" xyz="0 0 0.434263" />
    </joint>
    <!-- Generated URDF -->
    <xacro:include filename="$(arg rover_description_dir)/banksia/urdf/rover.urdf"/>
    <!-- End of Generated URDF -->
    <!-- Include additional xacro files-->
    <xacro:include filename="$(arg rover_description_dir)/banksia/urdf/ckc.xacro"/>

    <xacro:if value="$(arg auto_camera)">
        <xacro:include filename="$(arg rover_description_dir)/auto_mount/urdf/auto_camera.xacro"/>
    </xacro:if>

    <xacro:if value="$(arg arm)">
        <!-- Waratah's arm
        <xacro:include filename="$(arg rover_description_dir)/old_arm/urdf/arm.urdf.xacro" />
        <joint name="chassis_to_arm_base" type="fixed">
            <origin xyz="0.2 0 -0.06" rpy="0 0 0"/>
            <parent link="chassis" />
            <child link="arm_link" />
        </joint> -->
        <!-- Banksia's arm -->
        <xacro:include filename="$(arg rover_description_dir)/taipan/urdf/arm.urdf.xacro" />
        <joint name="chassis_to_arm_base" type="fixed">
            <origin xyz="0.234 -0.001 0.116750" rpy="0 0 1.5708" />
            <parent link="chassis" />
            <child link="arm_link" />
        </joint>
        <xacro:include filename="$(arg rover_description_dir)/taipan/urdf/joint_states_with_arm.xacro"/>
    </xacro:if>
     <xacro:unless value="$(arg arm)">
        <xacro:include filename="$(arg rover_description_dir)/banksia/urdf/joint_states.xacro"/>
    </xacro:unless>

    <xacro:if value="$(arg old_arm)">
        <xacro:include filename="$(arg rover_description_dir)/old_arm/urdf/arm.urdf.xacro" />
        <joint name="chassis_to_arm_base" type="fixed">
            <origin xyz="0.2 0 -0.06" rpy="0 0 0" />
            <parent link="chassis" />
            <child link="arm_link" />
        </joint>
    </xacro:if>

    <xacro:if value="$(arg drive_control)">
        <xacro:unless value="$(arg gazebo)">
            <xacro:include filename="$(arg rover_description_dir)/banksia/urdf/ros2_control.xacro" />
            <xacro:rover_ros2_control use_mock_hardware="$(arg use_mock_hardware)"/>
        </xacro:unless>
        <xacro:if value="$(arg gazebo)">
            <xacro:include filename="$(arg rover_description_dir)/banksia/urdf/gz_ros2_control.xacro" />
        </xacro:if>
    </xacro:if>

    <xacro:include filename="$(arg rover_description_dir)/banksia/urdf/p3d.xacro"/>
    <xacro:include filename="$(arg rover_description_dir)/banksia/urdf/odom.xacro"/>
    <xacro:include filename="$(arg rover_description_dir)/banksia/urdf/gps.xacro"/>
</robot>
