<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="rover_ros2_control" params="use_mock_hardware">
        <ros2_control name="FrontLeftWheel" type="system">

            <xacro:unless value="${use_mock_hardware}">
                <hardware>
                    <plugin>blcmd_hardware/BLCMDHardware</plugin>
                    <param name="candevice">can0</param>
                    <param name="canid">1</param>
                    <param name="resolver_reduction">1.33333333333</param>
                    <param name="clock_rate">100000000</param>
                    <param name="revolution_pulses">8192</param>
                    <param name="min_interval">122</param>
                    <param name="gear_ratio">36.0</param>
                    <param name="mock">true</param>
                    <param name="reversed">true</param>
                    <param name="integrate_velocity">true</param>
                </hardware>
            </xacro:unless>
            <xacro:if value="${use_mock_hardware}">
                <hardware>
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="calculate_dynamics">true</param>
                </hardware>
            </xacro:if>

            <joint name="flw">
		        <command_interface name="velocity">
                    <param name="max">1</param>
                </command_interface>

                <command_interface name="effort">
                    <param name="max">1</param>
                </command_interface>

                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>

                <state_interface name="position"> 
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
        </ros2_control>

        <ros2_control name="BackLeftWheel" type="system">
            <xacro:unless value="${use_mock_hardware}">
                <hardware>
                    <plugin>blcmd_hardware/BLCMDHardware</plugin>
                    <param name="candevice">can0</param>
                    <param name="canid">2</param>
                    <param name="resolver_reduction">1.33333333333</param>
                    <param name="clock_rate">100000000</param>
                    <param name="revolution_pulses">8192</param>
                    <param name="min_interval">122</param>
                    <param name="gear_ratio">36.0</param>
                    <param name="mock">true</param>
                    <param name="reversed">true</param>
                    <param name="integrate_velocity">true</param>
                </hardware>
            </xacro:unless>
            <xacro:if value="${use_mock_hardware}">
                <hardware>
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="calculate_dynamics">true</param>
                </hardware>
            </xacro:if>

            <joint name="blw">
                <command_interface name="velocity">
                    <param name="max">1</param>
                </command_interface>


                <command_interface name="effort">
                    <param name="max">1</param>
                </command_interface>

                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>

                <state_interface name="position"> 
                    <param name="initial_value">0.0</param>
                </state_interface>

            </joint>
        </ros2_control>

        <ros2_control name="BackRightWheel" type="system">
            <xacro:unless value="${use_mock_hardware}">
                <hardware>
                    <plugin>blcmd_hardware/BLCMDHardware</plugin>
                    <param name="candevice">can0</param>
                    <param name="canid">3</param>
                    <param name="resolver_reduction">1.33333333333</param>
                    <param name="clock_rate">100000000</param>
                    <param name="revolution_pulses">8192</param>
                    <param name="min_interval">122</param>
                    <param name="gear_ratio">36.0</param>
	                <param name="mock">true</param>
                    <param name="integrate_velocity">true</param>
                </hardware>
            </xacro:unless>
            <xacro:if value="${use_mock_hardware}">
                <hardware>
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="calculate_dynamics">true</param>
                </hardware>
            </xacro:if>

            <joint name="brw">
                <command_interface name="velocity">
                    <param name="max">1</param>
                </command_interface>

                <command_interface name="effort">
                    <param name="max">1</param>
                </command_interface>

                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>

                <state_interface name="position"> 
                    <param name="initial_value">0.0</param>
                </state_interface>

            </joint>
        </ros2_control>

        <ros2_control name="FrontRightWheel" type="system">
            <xacro:unless value="${use_mock_hardware}">
                <hardware>
                    <plugin>blcmd_hardware/BLCMDHardware</plugin>
                    <param name="candevice">can0</param>
                    <param name="canid">4</param>
                    <param name="resolver_reduction">1.33333333333</param>
                    <param name="clock_rate">100000000</param>
                    <param name="revolution_pulses">8192</param>
                    <param name="min_interval">122</param>
                    <param name="gear_ratio">36.0</param>
	                <param name="mock">true</param>
                    <param name="integrate_velocity">true</param>
                </hardware>
            </xacro:unless>
            <xacro:if value="${use_mock_hardware}">
                <hardware>
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="calculate_dynamics">true</param>
                </hardware>
            </xacro:if>

            <joint name="frw">
                <command_interface name="velocity">
                    <param name="max">1</param>
                </command_interface>

                <command_interface name="effort">
                    <param name="max">1</param>
                </command_interface>

                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>

                <state_interface name="position"> 
                    <param name="initial_value">0.0</param>
                </state_interface>

            </joint>
        </ros2_control>

        <ros2_control name="FrontLeftPivot" type="system">
            <xacro:unless value="${use_mock_hardware}">
                <hardware>
                    <plugin>blcmd_hardware/BLCMDHardware</plugin>
                    <param name="candevice">can0</param>
                    <param name="canid">5</param>
		            <param name="resolver_reduction">1.33333333333</param>
                    <param name="clock_rate">100000000</param>
                    <param name="revolution_pulses">8192</param>
                    <param name="min_interval">233</param>
                    <param name="gear_ratio">36.0</param>
	            <param name="mock">true</param>
                </hardware>
            </xacro:unless>
            <xacro:if value="${use_mock_hardware}">
                <hardware>
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="calculate_dynamics">true</param>
                </hardware>
            </xacro:if>
            <joint name="flp">
                <command_interface name="position">
                    <param name="max">1.57079632679</param>
                </command_interface>

                <command_interface name="velocity">
                    <param name="max">1.0</param>
                </command_interface>

                <command_interface name="effort">
                    <param name="max">1</param>
                </command_interface>

                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>

                <state_interface name="position">
                    <param name="inital_value">0.0</param>
                    <param name="max">1.57079632679</param>    
                </state_interface>
            </joint>
        </ros2_control>

        <ros2_control name="BackLeftPivot" type="system">
            <xacro:unless value="${use_mock_hardware}">
                <hardware>
                    <plugin>blcmd_hardware/BLCMDHardware</plugin>
                    <param name="candevice">can0</param>
                    <param name="canid">6</param>
                    <param name="resolver_reduction">1.33333333333</param>
                    <param name="clock_rate">100000000</param>
                    <param name="revolution_pulses">8192</param>
                    <param name="min_interval">233</param>
                    <param name="gear_ratio">36.0</param>
		    <param name="revolution_pulses">8192</param>
	            <param name="reversed">true</param>
	            <param name="mock">true</param>
                </hardware>
            </xacro:unless>
            <xacro:if value="${use_mock_hardware}">
                <hardware>
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="calculate_dynamics">true</param>
                </hardware>
            </xacro:if>

            <joint name="blp">
                <command_interface name="position">
                    <param name="max">1.57079632679</param>
                </command_interface>

                <command_interface name="velocity">
                    <param name="max">1.0</param>
                </command_interface>

                <command_interface name="effort">
                    <param name="max">1</param>
                </command_interface>

                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>

                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                    <param name="max">1.57079632679</param>
                </state_interface>
            </joint>
        </ros2_control>

        <ros2_control name="BackRightPivot" type="system">
            <xacro:unless value="${use_mock_hardware}">

                <hardware>
                    <plugin>blcmd_hardware/BLCMDHardware</plugin>
                    <param name="candevice">can0</param>
                    <param name="canid">7</param>
                    <param name="resolver_reduction">1.33333333333</param>
                    <param name="clock_rate">100000000</param>
                    <param name="revolution_pulses">8192</param>
                    <param name="min_interval">233</param>
                    <param name="gear_ratio">36.0</param>
	            <param name="mock">true</param>
                </hardware>
            </xacro:unless>
            <xacro:if value="${use_mock_hardware}">
                <hardware>
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="calculate_dynamics">true</param>
                </hardware>
            </xacro:if>

            <joint name="brp">
                <command_interface name="position">
                    <param name="max">1.57079632679</param>
                </command_interface>

                <command_interface name="velocity">
                    <param name="max">1.0</param>
                </command_interface>

                <command_interface name="effort">
                    <param name="max">1</param>
                </command_interface>

                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>

                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                    <param name="max">1.57079632679</param>
                </state_interface>
            </joint>
        </ros2_control>

        <ros2_control name="FrontRightPivot" type="system">
            <xacro:unless value="${use_mock_hardware}">
                <hardware>
                    <plugin>blcmd_hardware/BLCMDHardware</plugin>
                    <param name="candevice">can0</param>
                    <param name="canid">8</param>
                    <param name="resolver_reduction">1.33333333333</param>
                    <param name="clock_rate">100000000</param>
                    <param name="revolution_pulses">8192</param>
                    <param name="reversed">true</param>
                    <param name="min_interval">233</param>
                    <param name="gear_ratio">36.0</param>
	            <param name="mock">true</param>
                </hardware>
            </xacro:unless>
            <xacro:if value="${use_mock_hardware}">
                <hardware>
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="calculate_dynamics">true</param>
                </hardware>
            </xacro:if>

            <joint name="frp">
                <command_interface name="position">
                    <param name="max">1.57079632679</param>
                </command_interface>

                <command_interface name="velocity">
                    <param name="max">1.0</param>
                </command_interface>

                <command_interface name="effort">
                    <param name="max">1</param>
                </command_interface>

                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>

                <state_interface name="position">
                    <param name="max">1.57079632679</param>
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
