<?xml version="1.0" encoding="utf-8"?>
<!-- publish joints for arm -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
     <gazebo>
          <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
               <topic>joint_states</topic>

               <joint_name>arm_kinematics_origin_joint</joint_name>

               <joint_name>J1</joint_name>
               <joint_name>J2</joint_name>
               <joint_name>J3</joint_name>
               <joint_name>l1b_bp</joint_name>
               <joint_name>l1b_tp</joint_name>
               <joint_name>l1a_tp</joint_name>
               
               <joint_name>J4</joint_name>
               <joint_name>J5</joint_name>
               <joint_name>J6</joint_name>
               <joint_name>right_slide</joint_name>
               <joint_name>left_slide</joint_name>
               <joint_name>actuator_head</joint_name>
          </plugin>
     </gazebo>
</robot>
