<?xml version="1.0" encoding="utf-8"?>
<!-- Configure Closed Kinetic Chains for Arm -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin filename="libgz-sim-detachable-joint-system.so" name="gz::sim::systems::DetachableJoint">
            <parent_link>l2cam</parent_link>
            <child_model>$(arg robot_name)</child_model>
            <child_link>l2</child_link>
            <output_topic>close_arm_loop</output_topic>
            <attach_topic>close_arm_loop_attach</attach_topic>
        </plugin>
    </gazebo>
</robot>