<?xml version="1.0" encoding="utf-8" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- Clam to chassis -->
    <link name="clam">
        <collision>
            <origin xyz="0.552061 -0.00205556 0.0880873" rpy="0 0 1.5708"/>
            <geometry>
                <box size="0.3 0.02 0.06"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0.432061 0.137909 0.0775991" rpy="0 0 1.5708"/>
            <geometry>
                <box size="0.02 0.25 0.04"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0.432061 -0.14209 0.0785756" rpy="0 0 1.5708"/>
            <geometry>
                <box size="0.02 0.25 0.04"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0.589561 -0.0758053 0.303346" rpy="0 0 1.5708"/>
            <geometry>
                <cylinder length="0.5" radius="0.013"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0.589561 0.0857938 0.302782" rpy="0 0 1.5708"/>
            <geometry>
                <cylinder length="0.5" radius="0.013"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.542061 -0.00202068 0.0980872" rpy="0 0 1.5708"/>
            <geometry>
                <mesh filename="file://$(arg rover_description_dir)/auto_mount/meshes/clam.stl"/>
            </geometry>
            <material name="clam_material">
                <color rgba="0.647059 0.647059 0.647059 1"/>
            </material>
        </visual>
    </link>

    <joint name="clam_to_chassis" type="fixed">
        <origin xyz="-0.348 0 -0.063" rpy="0 0 0" />
        <parent link="chassis" />
        <child link="clam" />
        <axis xyz="0 0 1" />
        <limit effort="10" velocity="10" />
    </joint>
    
    <!-- Clam to mount -->
    <link name="mount">
        <visual>
            <origin xyz="0.078 0.0285 0.0124231" rpy="1.5708 0 0" />
            <geometry>
                <mesh filename="file://$(arg rover_description_dir)/auto_mount/meshes/mount.stl" scale="1 1 1"/>
            </geometry>
            <material name="0.874510_0.568627_0.745098_0.000000_0.000000">
                <texture />
                <color rgba="0.87451 0.568627 0.745098 1" />
            </material>
        </visual>
    </link>

    <joint name="clam_to_mount" type="fixed">
        <origin xyz="0.602345 -0.0759769 0.536665" rpy="-1.5708 0 1.5708"/>
        <parent link="clam"/>
        <child link="mount"/>
        <axis xyz="0 0 1"/>
        <limit effort="10" velocity="10"/>
    </joint>

    <!-- realsense d415 -->
    <xacro:include filename="$(arg rover_description_dir)/auto_mount/urdf/realsense.xacro"/>
    <xacro:sensor_d415 parent="mount" name="d415" use_nominal_extrinsics="$(arg gazebo)">
        <origin xyz="0.07835 0.02469 -0.04" rpy="1.5708 1.5708 0" />
    </xacro:sensor_d415>

    <!-- livox mid-360 -->
    <xacro:include filename="$(arg rover_description_dir)/auto_mount/urdf/livox.xacro"/>
    <xacro:sensor_livox parent="mount">
        <origin xyz="0.078 0.0285 0" rpy="-1.5708 1.5708 0" />
    </xacro:sensor_livox>

</robot>
