<?xml version="1.0" encoding="utf-8" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="sensor_livox" params="parent *origin">
        <link name="livox_frame">
            <visual>
                <origin xyz="0 0.0055 0" rpy="0 0 3.14159" />
                <geometry>
                    <mesh filename="file://$(arg rover_description_dir)/auto_mount/meshes/mid-360-asm.stl"/>
                </geometry>
                <visibility_flags>0x02</visibility_flags> <!-- Bit 1 -->
            </visual>
        </link>

        <joint name="livox_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}" />
            <child link="livox_frame" />
        </joint>
    </xacro:macro>

    <!-- Gazebo sensor plugin for the Livox MID-360 LiDAR (does not affect IRL) -->
    <xacro:if value="$(arg gazebo)">
        <gazebo reference="livox_frame">
            <visibility_flags>0x02</visibility_flags>
            <sensor name="mid360" type="gpu_lidar">
                <update_rate>20</update_rate>
                <topic>livox/lidar</topic>
                <gz_frame_id>livox_frame</gz_frame_id>
                <visibility_mask>0xFFFFFFFD</visibility_mask> <!-- All bits except bit 1 -->
                <ray>
                    <scan>
                        <horizontal>
                            <samples>500</samples>      <!-- MID-360 0.5° resolution -->
                            <resolution>1.0</resolution>
                            <!-- MID-360 HFOV = 360° -->
                            <min_angle>-3.14156</min_angle>
                            <max_angle>3.14156</max_angle>
                        </horizontal>
                        <vertical>
                            <samples>40</samples>       <!-- MID-360 point cloud density -->
                            <resolution>1.0</resolution>
                            <!-- MID-360 VFOV = 59° -->
                            <min_angle>-0.122173</min_angle>
                            <max_angle>0.907571</max_angle>
                        </vertical>
                    </scan>
                    <range>
                        <min>0.05</min>                 <!-- MID-360 min. detection range -->
                        <max>40.0</max>                 <!-- MID-360 max. detection range -->
                        <resolution>0.01</resolution>
                    </range>
                </ray>
                <always_on>1</always_on>
                <visualize>false</visualize>
            </sensor>

            <sensor name="mid360_imu" type="imu">
                <update_rate>200</update_rate>
                <topic>livox/imu</topic>
                <gz_frame_id>livox_frame</gz_frame_id>
                <always_on>1</always_on>
                <visualize>false</visualize>

                <imu>
                    <angular_velocity>
                        <x><noise type="gaussian"><mean>0.0</mean><stddev>2e-4</stddev></noise></x>
                        <y><noise type="gaussian"><mean>0.0</mean><stddev>2e-4</stddev></noise></y>
                        <z><noise type="gaussian"><mean>0.0</mean><stddev>2e-4</stddev></noise></z>
                    </angular_velocity>
                    <linear_acceleration>
                        <x><noise type="gaussian"><mean>0.0</mean><stddev>1.7e-2</stddev></noise></x>
                        <y><noise type="gaussian"><mean>0.0</mean><stddev>1.7e-2</stddev></noise></y>
                        <z><noise type="gaussian"><mean>0.0</mean><stddev>1.7e-2</stddev></noise></z>
                    </linear_acceleration>
                </imu>
            </sensor>
        </gazebo>
    </xacro:if>

</robot>
